.rjacoby_game_container {
  display: inline-block;
  border: solid 3px;
  background-color: #eee;
  border-radius: 15px;
  width: 250px;
  height: 250px;
  position: absolute;
  z-index: 100;
  padding: 15px;
  margin: 15px;
  top: 0px;
}
.rjacoby_game {
  z-index: 1000;
}
body {
  position: relative !important;
}
